*{
    box-sizing: border-box;
    max-width: 100%;
    color: #d1e0e0;
}

html {
    font-size: 62.5%;
    text-align: center;
    font-family: 'Zen Loop', monospace;
    background-color: #141f1f;
}

header {
    margin: 1% 0;
}

h1 {
    text-transform: uppercase;
    text-shadow: 3px 3px #334d4d;
    letter-spacing: 15px;
    word-spacing: 20px;
    font-size: 3.5rem;
}

nav, .gallery {
    display: flex;
}

nav{
    padding: 1%;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 0 1%;
    font-size: 3rem;
    align-self: center;
}

.navbuttons, #email {
    align-items: center;
    letter-spacing: 2px;
    border: 1px solid #d1e0e0;
    
}

.navbuttons:hover, #email:hover {
    background-color: #d1e0e0;
    font-weight: bolder;
    color: #334d4d;
    text-shadow: 1px 1px #141f1f;
}

.intro {
    padding: 0 0 4% 0;
}

h2 {
    font-family: 'Fuggles', cursive;
    font-size: 4rem;
    word-spacing: 5px;
    text-shadow: 2px 2px #334d4d;
    border: 1px #d1e0e0;
    border-style: none none solid none;
}

.intro p {
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 2rem;
}

.emphasize {
    font-weight: bolder;
    font-size: 2.1rem;
    text-shadow: 1px 1px #334d4d;
}

#main_photo {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 100% 35%;
}

.gallery {
    width: 100%;
    height: 500px;
    justify-content: flex-start;
}

.gallery img {
    height: 100%;
    width: 20%;
    object-fit: cover;
    object-position: 15% 50%;
    opacity: .5;
}

.gallery img:hover {
    opacity: 1;
}

.gallery_comment {
    align-self: center;
    padding: 1rem;
}

footer {
    padding: 2% 0 0 0;
}

.socials {
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 800px) {
    #main_photo {
        height: 400px;
    }

    .gallery {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery img {
        width: 50%;
    }
}

@media (max-width: 500px) {
    h1, h2 {
        font-size: 3.25rem;
        word-spacing: 50%;
    }
    
    header nav {
        flex-direction: column;
    }

    .navbuttons {
        width: 150px;
    }

    a {
        font-size: 2.5rem;
    }

    #main_photo {
        height: 300px;
    }
}